# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\\$645 - 675) underperformed compared to schools with smaller budgets (\\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

**Note:**
Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [6]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "/Users/Mirzafamily/Desktop/DS311/DS311-Technologies-in-Data-Analytic/Week_3_Pandas_and_Matplotlib/Lab_Assignment/data/schools_complete.csv"
student_data_to_load = "/Users/Mirzafamily/Desktop/DS311/DS311-Technologies-in-Data-Analytic/Week_3_Pandas_and_Matplotlib/Lab_Assignment/data/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.tail()

#school_data_complete.count()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [1]:
# Create a District Summary

In [7]:
# Total number of schools
total_schools = school_data.groupby('type')['school_name'].count()
total_schools #15 total schools separated by 2 types; 8 charter and 7 District

type
Charter     8
District    7
Name: school_name, dtype: int64

In [8]:
# Total number of schools
schools = school_data_complete['school_name'].value_counts()
schools #this shows each school's name and how many time it is illustrated

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [9]:
total_schools = school_data_complete.groupby('type')['school_name'].value_counts()
total_schools #this tells us what schools fit under Charter and District

type      school_name
Charter   Wilson High School       2283
          Cabrera High School      1858
          Wright High School       1800
          Shelton High School      1761
          Thomas High School       1635
          Griffin High School      1468
          Pena High School          962
          Holden High School        427
District  Bailey High School       4976
          Johnson High School      4761
          Hernandez High School    4635
          Rodriguez High School    3999
          Figueroa High School     2949
          Huang High School        2917
          Ford High School         2739
Name: school_name, dtype: int64

In [10]:
school_type = school_data.set_index('school_name')['type']
school_type

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [11]:
# Total number of students
total_students = school_data_complete['Student ID'].count()
total_students
 #according to the dataset each students sub-categorizes into a student-id.

39170

In [12]:
total_student2 = school_data_complete.groupby('type')['student_name'].count()
total_student2

type
Charter     12194
District    26976
Name: student_name, dtype: int64

In [13]:
# Total budget
total_budget = school_data['budget']
sum(total_budget)

#total budget is roughly $24.65 million

24649428

In [14]:
total_budget2 = school_data.groupby('type')['budget'].sum()
total_budget2 #this breaks down the budget by school 'type'

type
Charter      7301505
District    17347923
Name: budget, dtype: int64

In [15]:
total_budget3 = school_data.groupby('school_name')['budget'].sum()
total_budget3.sort_values(ascending = False)

school_name
Bailey High School       3124928
Johnson High School      3094650
Hernandez High School    3022020
Rodriguez High School    2547363
Huang High School        1910635
Figueroa High School     1884411
Ford High School         1763916
Wilson High School       1319574
Cabrera High School      1081356
Shelton High School      1056600
Wright High School       1049400
Thomas High School       1043130
Griffin High School       917500
Pena High School          585858
Holden High School        248087
Name: budget, dtype: int64

In [17]:
# Average math score
school_data_complete.mean()
#average math score was for all student's was about 78.9% 
#Average reading score --> a little bit better than math scores, reading scores were roughly @ 81.9%

/var/folders/rx/s31g8pg13hbc_gm_qvcw8ht00000gn/T/ipykernel_3587/928199252.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  school_data_complete.mean()

Student ID       1.958450e+04
reading_score    8.187784e+01
math_score       7.898537e+01
School ID        6.978172e+00
size             3.332957e+03
budget           2.117241e+06
dtype: float64

In [18]:
school_data_complete['math_score'].mean()
#a look at the avg math score

78.98537145774827

In [20]:
school_data_complete.groupby('type')['math_score'].mean()
#a look at the avg math score based on the 'type'// Charter school better

type
Charter     83.406183
District    76.987026
Name: math_score, dtype: float64

In [21]:
school_data_complete['reading_score'].mean() 
#a look at the avg reading score

81.87784018381414

In [22]:
school_data_complete.groupby('type')['reading_score'].mean()
#a look at the avg reading score based on 'type'// Charter better again

type
Charter     83.902821
District    80.962485
Name: reading_score, dtype: float64

In [23]:
# Overall average score
overall_avg =(school_data_complete['math_score'] + school_data_complete['reading_score'])
overall_avg.mean()
#The mean overall score was roughly 160.86 out of the possible 200 points.

160.86321164156243

In [24]:
overall_avg2 = (school_data_complete['math_score'] + school_data_complete['reading_score'])/2
overall_avg2.mean() 
#a look at the overall average score i.e (m + r)/2

80.43160582078121

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

### Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [25]:
#total students per High School
total_students = school_data_complete.groupby('school_name')['student_name'].count()
total_students

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: student_name, dtype: int64

In [26]:
#Average Math and Reading Score by School 
avg_math = school_data_complete.groupby('school_name')['math_score'].mean()
print('Average Math scores By school')
print(avg_math.sort_values(ascending = False))
avg_reading = school_data_complete.groupby('school_name')['reading_score'].mean()
print("Average Reading scores By School")
print(avg_reading.sort_values(ascending = False))

Average Math scores By school
school_name
Pena High School         83.839917
Holden High School       83.803279
Wright High School       83.682222
Thomas High School       83.418349
Shelton High School      83.359455
Griffin High School      83.351499
Wilson High School       83.274201
Cabrera High School      83.061895
Hernandez High School    77.289752
Ford High School         77.102592
Johnson High School      77.072464
Bailey High School       77.048432
Rodriguez High School    76.842711
Figueroa High School     76.711767
Huang High School        76.629414
Name: math_score, dtype: float64
Average Reading scores By School
school_name
Pena High School         84.044699
Wilson High School       83.989488
Cabrera High School      83.975780
Wright High School       83.955000
Thomas High School       83.848930
Griffin High School      83.816757
Holden High School       83.814988
Shelton High School      83.725724
Huang High School        81.182722
Figueroa High School     81.158020
Bailey High School       81.033963
Johnson High School      80.966394
Hernandez High School    80.934412
Ford High School         80.746258
Rodriguez High School    80.744686
Name: reading_score, dtype: float64

In [27]:
###MATH > 70
greater_70 = school_data_complete[school_data_complete['math_score']>=70]
passing_math = greater_70.groupby('school_name')['student_name'].count()
passing_math

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: student_name, dtype: int64

In [28]:
passing = (passing_math/total_students)*100
passing.sort_values(ascending = False) 
#percent of students passing math by school

school_name
Pena High School         94.594595
Cabrera High School      94.133477
Wilson High School       93.867718
Shelton High School      93.867121
Griffin High School      93.392371
Wright High School       93.333333
Thomas High School       93.272171
Holden High School       92.505855
Ford High School         68.309602
Hernandez High School    66.752967
Bailey High School       66.680064
Rodriguez High School    66.366592
Johnson High School      66.057551
Figueroa High School     65.988471
Huang High School        65.683922
Name: student_name, dtype: float64

In [30]:
###READING > 70
greaterr_70 = school_data_complete[school_data_complete['reading_score']>=70]
passing_reading = greaterr_70.groupby('school_name')['student_name'].count()
passing_reading

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: student_name, dtype: int64

In [31]:
passing_r = (passing_reading/total_students)*100
passing_r.sort_values(ascending = False) 
#percent of students passing reading by school

school_name
Thomas High School       97.308869
Griffin High School      97.138965
Cabrera High School      97.039828
Wright High School       96.611111
Wilson High School       96.539641
Holden High School       96.252927
Pena High School         95.945946
Shelton High School      95.854628
Bailey High School       81.933280
Huang High School        81.316421
Johnson High School      81.222432
Hernandez High School    80.862999
Figueroa High School     80.739234
Rodriguez High School    80.220055
Ford High School         79.299014
Name: student_name, dtype: float64

In [32]:
#OVERALL
overall_passing = school_data_complete[school_data_complete['reading_score']>=70]
overall_passing = overall_passing[overall_passing['math_score']>=70]
overall_passing.sort_values(by = ['math_score', 'reading_score'], ascending = False)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
3694,3694,Melissa Dyer,F,12th,Figueroa High School,99,99,1,District,2949,1884411
4269,4269,Michael Stein Jr.,M,12th,Figueroa High School,99,99,1,District,2949,1884411
6372,6372,Brandon Francis,M,10th,Shelton High School,99,99,2,Charter,1761,1056600
7117,7117,Carol Robinson,F,10th,Shelton High School,99,99,2,Charter,1761,1056600
7955,7955,Jennifer Morris,F,9th,Hernandez High School,99,99,3,District,4635,3022020
...,...,...,...,...,...,...,...,...,...,...,...
33993,33993,Brad Austin,M,9th,Johnson High School,70,70,12,District,4761,3094650
38400,38400,Patrick Joyce,M,11th,Thomas High School,70,70,14,Charter,1635,1043130
38674,38674,Andrea Mack,F,12th,Thomas High School,70,70,14,Charter,1635,1043130
38717,38717,Matthew Nunez,M,11th,Thomas High School,70,70,14,Charter,1635,1043130
38864,38864,Steven Hernandez,M,11th,Thomas High School,70,70,14,Charter,1635,1043130

In [33]:
overall_passing

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [34]:
overall = overall_passing.groupby('school_name')['student_name'].count()
overall

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
Name: student_name, dtype: int64

In [35]:
overall_score = (overall/total_students)*100 
overall_score.sort_values(ascending = False) 
#overall percent of students passing both classes (grouped by school name)

school_name
Cabrera High School      91.334769
Thomas High School       90.948012
Griffin High School      90.599455
Wilson High School       90.582567
Pena High School         90.540541
Wright High School       90.333333
Shelton High School      89.892107
Holden High School       89.227166
Bailey High School       54.642283
Ford High School         54.289887
Johnson High School      53.539172
Hernandez High School    53.527508
Huang High School        53.513884
Figueroa High School     53.204476
Rodriguez High School    52.988247
Name: student_name, dtype: float64

### Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [36]:
#  Sort and display the worst five schools in overall passing rate
overall_score.sort_values(ascending = True).round()

school_name
Rodriguez High School    53.0
Figueroa High School     53.0
Huang High School        54.0
Hernandez High School    54.0
Johnson High School      54.0
Ford High School         54.0
Bailey High School       55.0
Holden High School       89.0
Shelton High School      90.0
Wright High School       90.0
Pena High School         91.0
Wilson High School       91.0
Griffin High School      91.0
Thomas High School       91.0
Cabrera High School      91.0
Name: student_name, dtype: float64

In [37]:
budget_stats = school_data_complete.groupby('school_name').agg({'budget': 'mean'})

In [38]:
size_stats = school_data_complete.groupby('school_name').agg({'student_name':'count'})

In [39]:
budget_per_student = budget_stats['budget'] / size_stats['student_name']
#Price Per student based on budget and student name/size

In [40]:
school_data_complete['Pper_student'] = (school_data_complete['budget'] / school_data_complete['size'])
school_data_complete
#added Pper_student in the df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,Pper_student
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,655.0
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,655.0
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,655.0
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,655.0
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,655.0
...,...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130,638.0
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130,638.0
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130,638.0
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130,638.0
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130,638.0

In [41]:
total_school_budget = school_data.set_index('school_name')['budget']
total_school_budget

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [42]:
school_summary = pd.DataFrame({'total students': total_students,
                               'school type': school_type,
                               'total school budget': total_school_budget,
                               'per student budget': budget_per_student,
                               'average math score': avg_math,
                               'average reading score': avg_reading,
                               '% passing math': passing,
                               '% passing reading': passing_r,
                               'overall passing rate': overall_score
                               })
school_summary.reset_index()

,school_name,total students,school type,total school budget,per student budget,average math score,average reading score,% passing math,% passing reading,overall passing rate
0,Bailey High School,4976,District,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
1,Cabrera High School,1858,Charter,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
2,Figueroa High School,2949,District,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
3,Ford High School,2739,District,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
4,Griffin High School,1468,Charter,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
5,Hernandez High School,4635,District,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
6,Holden High School,427,Charter,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
7,Huang High School,2917,District,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
8,Johnson High School,4761,District,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
9,Pena High School,962,Charter,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
10,Rodriguez High School,3999,District,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
11,Shelton High School,1761,Charter,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
12,Thomas High School,1635,Charter,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
13,Wilson High School,2283,Charter,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
14,Wright High School,1800,Charter,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [43]:
# Create table that lists the average math score for each school of each grade level.
school_data_complete.groupby(['grade', 'school_name'])['math_score'].mean()

grade  school_name
10th   Bailey High School       76.996772
       Cabrera High School      83.154506
       Figueroa High School     76.539974
       Ford High School         77.672316
       Griffin High School      84.229064
       Hernandez High School    77.337408
       Holden High School       83.429825
       Huang High School        75.908735
       Johnson High School      76.691117
       Pena High School         83.372000
       Rodriguez High School    76.612500
       Shelton High School      82.917411
       Thomas High School       83.087886
       Wilson High School       83.724422
       Wright High School       84.010288
11th   Bailey High School       77.515588
       Cabrera High School      82.765560
       Figueroa High School     76.884344
       Ford High School         76.918058
       Griffin High School      83.842105
       Hernandez High School    77.136029
       Holden High School       85.000000
       Huang High School        76.446602
       Johnson High School      77.491653
       Pena High School         84.328125
       Rodriguez High School    76.395626
       Shelton High School      83.383495
       Thomas High School       83.498795
       Wilson High School       83.195326
       Wright High School       83.836782
12th   Bailey High School       76.492218
       Cabrera High School      83.277487
       Figueroa High School     77.151369
       Ford High School         76.179963
       Griffin High School      83.356164
       Hernandez High School    77.186567
       Holden High School       82.855422
       Huang High School        77.225641
       Johnson High School      76.863248
       Pena High School         84.121547
       Rodriguez High School    77.690748
       Shelton High School      83.778976
       Thomas High School       83.497041
       Wilson High School       83.035794
       Wright High School       83.644986
9th    Bailey High School       77.083676
       Cabrera High School      83.094697
       Figueroa High School     76.403037
       Ford High School         77.361345
       Griffin High School      82.044010
       Hernandez High School    77.438495
       Holden High School       83.787402
       Huang High School        77.027251
       Johnson High School      77.187857
       Pena High School         83.625455
       Rodriguez High School    76.859966
       Shelton High School      83.420755
       Thomas High School       83.590022
       Wilson High School       83.085578
       Wright High School       83.264706
Name: math_score, dtype: float64

In [44]:
# Calculate the average math score for 9th grade in each school
nine = school_data_complete[school_data_complete['grade'] == '9th']
avg_nine = nine.groupby('school_name')['math_score'].mean()
avg_nine.sort_values(ascending = False )

school_name
Holden High School       83.787402
Pena High School         83.625455
Thomas High School       83.590022
Shelton High School      83.420755
Wright High School       83.264706
Cabrera High School      83.094697
Wilson High School       83.085578
Griffin High School      82.044010
Hernandez High School    77.438495
Ford High School         77.361345
Johnson High School      77.187857
Bailey High School       77.083676
Huang High School        77.027251
Rodriguez High School    76.859966
Figueroa High School     76.403037
Name: math_score, dtype: float64

In [45]:
# Calculate the average math score for 10th grade in each school
ten = school_data_complete[school_data_complete['grade']== '10th']
avg_ten = ten.groupby('school_name')['math_score'].mean()
avg_ten.sort_values(ascending = False)

school_name
Griffin High School      84.229064
Wright High School       84.010288
Wilson High School       83.724422
Holden High School       83.429825
Pena High School         83.372000
Cabrera High School      83.154506
Thomas High School       83.087886
Shelton High School      82.917411
Ford High School         77.672316
Hernandez High School    77.337408
Bailey High School       76.996772
Johnson High School      76.691117
Rodriguez High School    76.612500
Figueroa High School     76.539974
Huang High School        75.908735
Name: math_score, dtype: float64

In [46]:
# Calculate the average math score for 11th grade in each school
eleven = school_data_complete[school_data_complete['grade'] == '11th']
avg_eleven = eleven.groupby('school_name')['math_score'].mean()
avg_eleven.sort_values(ascending = False)

school_name
Holden High School       85.000000
Pena High School         84.328125
Griffin High School      83.842105
Wright High School       83.836782
Thomas High School       83.498795
Shelton High School      83.383495
Wilson High School       83.195326
Cabrera High School      82.765560
Bailey High School       77.515588
Johnson High School      77.491653
Hernandez High School    77.136029
Ford High School         76.918058
Figueroa High School     76.884344
Huang High School        76.446602
Rodriguez High School    76.395626
Name: math_score, dtype: float64

In [47]:
# Calculate the average math score for 12th grade in each school
twelve = school_data_complete[school_data_complete['grade'] == '12th']
avg_twelve = twelve.groupby('school_name')['math_score'].mean()
avg_twelve.sort_values(ascending = False)

school_name
Pena High School         84.121547
Shelton High School      83.778976
Wright High School       83.644986
Thomas High School       83.497041
Griffin High School      83.356164
Cabrera High School      83.277487
Wilson High School       83.035794
Holden High School       82.855422
Rodriguez High School    77.690748
Huang High School        77.225641
Hernandez High School    77.186567
Figueroa High School     77.151369
Johnson High School      76.863248
Bailey High School       76.492218
Ford High School         76.179963
Name: math_score, dtype: float64

In [48]:
#Math score summary into dataset
math_grade = pd.DataFrame({"9th grade": avg_nine,
                          "10th grade": avg_ten, 
                          "11th grade": avg_eleven,
                          "12th grade": avg_twelve})
math_grade.reset_index()

              school_name  9th grade  10th grade  11th grade  12th grade
0      Bailey High School  77.083676   76.996772   77.515588   76.492218
1     Cabrera High School  83.094697   83.154506   82.765560   83.277487
2    Figueroa High School  76.403037   76.539974   76.884344   77.151369
3        Ford High School  77.361345   77.672316   76.918058   76.179963
4     Griffin High School  82.044010   84.229064   83.842105   83.356164
5   Hernandez High School  77.438495   77.337408   77.136029   77.186567
6      Holden High School  83.787402   83.429825   85.000000   82.855422
7       Huang High School  77.027251   75.908735   76.446602   77.225641
8     Johnson High School  77.187857   76.691117   77.491653   76.863248
9        Pena High School  83.625455   83.372000   84.328125   84.121547
10  Rodriguez High School  76.859966   76.612500   76.395626   77.690748
11    Shelton High School  83.420755   82.917411   83.383495   83.778976
12     Thomas High School  83.590022   83.087886   83.498795   83.497041
13     Wilson High School  83.085578   83.724422   83.195326   83.035794
14     Wright High School  83.264706   84.010288   83.836782   83.644986

### Reading Score by Grade

* Perform the same operations as above for reading scores

In [50]:
# Create table that lists the average reading score for each school of each grade level.
rs_2 = school_data_complete.groupby(['grade', 'school_name'])['reading_score'].mean()

In [51]:
# Calculate the average reading score for 9th grade in each school
nine2 = school_data_complete[school_data_complete['grade'] == '9th']
avg_nine2 = nine2.groupby('school_name')['reading_score'].mean()
avg_nine2.sort_values(ascending = False )

school_name
Shelton High School      84.122642
Wilson High School       83.939778
Wright High School       83.833333
Pena High School         83.807273
Thomas High School       83.728850
Holden High School       83.677165
Cabrera High School      83.676136
Griffin High School      83.369193
Bailey High School       81.303155
Huang High School        81.290284
Johnson High School      81.260714
Figueroa High School     81.198598
Rodriguez High School    80.993127
Hernandez High School    80.866860
Ford High School         80.632653
Name: reading_score, dtype: float64

In [52]:
# Calculate the average reading score for 10th grade in each school
ten2 = school_data_complete[school_data_complete['grade']== '10th']
avg_ten2 = ten2.groupby('school_name')['reading_score'].mean()
avg_ten2.sort_values(ascending = False)

school_name
Thomas High School       84.254157
Cabrera High School      84.253219
Wilson High School       84.021452
Wright High School       83.812757
Griffin High School      83.706897
Pena High School         83.612000
Shelton High School      83.441964
Holden High School       83.324561
Huang High School        81.512386
Figueroa High School     81.408912
Ford High School         81.262712
Bailey High School       80.907183
Johnson High School      80.773431
Hernandez High School    80.660147
Rodriguez High School    80.629808
Name: reading_score, dtype: float64

In [53]:
# Calculate the average reading score for 11th grade in each school
eleven2 = school_data_complete[school_data_complete['grade']== '11th']
avg_eleven2 = eleven2.groupby('school_name')['reading_score'].mean()
avg_eleven2.sort_values(ascending = False)

school_name
Shelton High School      84.373786
Pena High School         84.335938
Griffin High School      84.288089
Wright High School       84.156322
Holden High School       83.815534
Cabrera High School      83.788382
Wilson High School       83.764608
Thomas High School       83.585542
Huang High School        81.417476
Hernandez High School    81.396140
Bailey High School       80.945643
Rodriguez High School    80.864811
Figueroa High School     80.640339
Johnson High School      80.616027
Ford High School         80.403642
Name: reading_score, dtype: float64

In [54]:
# Calculate the average reading score for 12th grade in each school
twelve2 = school_data_complete[school_data_complete['grade']== '12th']
avg_twelve2 = twelve2.groupby('school_name')['reading_score'].mean()
avg_twelve2.sort_values(ascending = False)

school_name
Holden High School       84.698795
Pena High School         84.591160
Wilson High School       84.317673
Cabrera High School      84.287958
Wright High School       84.073171
Griffin High School      84.013699
Thomas High School       83.831361
Shelton High School      82.781671
Figueroa High School     81.384863
Johnson High School      81.227564
Bailey High School       80.912451
Hernandez High School    80.857143
Ford High School         80.662338
Rodriguez High School    80.376426
Huang High School        80.305983
Name: reading_score, dtype: float64

In [55]:
#Reading score summary into dataset
reading_grade = pd.DataFrame({"9th grade": avg_nine2,
                          "10th grade": avg_ten2, 
                          "11th grade": avg_eleven2,
                          "12th grade": avg_twelve2})
reading_grade.reset_index()

              school_name  9th grade  10th grade  11th grade  12th grade
0      Bailey High School  81.303155   80.907183   80.945643   80.912451
1     Cabrera High School  83.676136   84.253219   83.788382   84.287958
2    Figueroa High School  81.198598   81.408912   80.640339   81.384863
3        Ford High School  80.632653   81.262712   80.403642   80.662338
4     Griffin High School  83.369193   83.706897   84.288089   84.013699
5   Hernandez High School  80.866860   80.660147   81.396140   80.857143
6      Holden High School  83.677165   83.324561   83.815534   84.698795
7       Huang High School  81.290284   81.512386   81.417476   80.305983
8     Johnson High School  81.260714   80.773431   80.616027   81.227564
9        Pena High School  83.807273   83.612000   84.335938   84.591160
10  Rodriguez High School  80.993127   80.629808   80.864811   80.376426
11    Shelton High School  84.122642   83.441964   84.373786   82.781671
12     Thomas High School  83.728850   84.254157   83.585542   83.831361
13     Wilson High School  83.939778   84.021452   83.764608   84.317673
14     Wright High School  83.833333   83.812757   84.156322   84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [63]:
# Sample bins. Feel free to create your own bins.
spending_cat = [1, 2, 3, 4, 5]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [68]:
# Create a new column to show budget per student in each row
school_summary #see 'per student budget' column

,total students,school type,total school budget,per student budget,average math score,average reading score,% passing math,% passing reading,overall passing rate
school_name,,,,,,,,,
Bailey High School,4976,District,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,1858,Charter,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,2949,District,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,2739,District,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,1468,Charter,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,4635,District,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,427,Charter,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,2917,District,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,4761,District,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,962,Charter,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,3999,District,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,1761,Charter,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,1635,Charter,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,2283,Charter,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,1800,Charter,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

In [69]:
# Create a new column to define the spending ranges per student
def condition(x):
    if x < 585 : 
        return group_names[0]
    elif x >= 585 and x < 615:
        return group_names[1]
    elif x >= 615 and x < 645: 
        return group_names[2]
    elif x >= 645 and x < 675:
        return group_names[3]
    else: 
        return group_names[4]
school_summary['spending ranges per student'] = school_summary['per student budget'].map(condition)
school_summary

,total students,school type,total school budget,per student budget,average math score,average reading score,% passing math,% passing reading,overall passing rate,spending ranges per student
school_name,,,,,,,,,,
Bailey High School,4976,District,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283,$615-645
Cabrera High School,1858,Charter,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769,<$585
Figueroa High School,2949,District,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476,$615-645
Ford High School,2739,District,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887,$615-645
Griffin High School,1468,Charter,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455,$615-645
Hernandez High School,4635,District,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508,$645-675
Holden High School,427,Charter,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166,<$585
Huang High School,2917,District,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884,$645-675
Johnson High School,4761,District,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172,$645-675
Pena High School,962,Charter,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541,$585-615
Rodriguez High School,3999,District,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247,$615-645
Shelton High School,1761,Charter,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107,$585-615
Thomas High School,1635,Charter,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012,$615-645
Wilson High School,2283,Charter,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567,<$585
Wright High School,1800,Charter,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333,<$585

In [74]:
# Calculate the average math score within each spending range
one = school_summary[school_summary['spending ranges per student'] == '<$585']
avg_one = one.sum()
avg_one['average math score']/4 #4 schools in the <585 range

83.45539900855027

In [75]:
two = school_summary[school_summary['spending ranges per student'] == '$585-615']
avg_two = two.sum()
avg_two['average math score']/2

83.59968584755637

In [76]:
three = school_summary[school_summary['spending ranges per student'] == '$615-645']
avg_three = three.sum()
avg_three['average math score']/6

79.0792248837525

In [77]:
four = school_summary[school_summary['spending ranges per student'] == '$645-675']
avg_four = four.sum()
avg_four['average math score']/3

76.99720981240274

In [78]:
# Calculate the percentage passing rate for math in each spending range
passing_math1 = school_summary.groupby('spending ranges per student')['% passing math'].mean()
passing_math1.sort_values(ascending = False)

spending ranges per student
$585-615    94.230858
<$585       93.460096
$615-645    75.668212
$645-675    66.164813
Name: % passing math, dtype: float64

In [80]:
# Calculate the percentage passing rate for reading in each spending range
passing_reading1 = school_summary.groupby('spending ranges per student')['% passing reading'].mean()
passing_reading1.sort_values(ascending = False)

spending ranges per student
<$585       96.610877
$585-615    95.900287
$615-645    86.106569
$645-675    81.133951
Name: % passing reading, dtype: float64

In [81]:
# Calculate the percentage overall passing rate in each spending range
overall_passing1 = school_summary.groupby('spending ranges per student')['overall passing rate'].mean()
overall_passing1.sort_values(ascending = False)

spending ranges per student
<$585       90.369459
$585-615    90.216324
$615-645    66.112060
$645-675    53.526855
Name: overall passing rate, dtype: float64

### Scores by School Size

* Perform the same operations as above, based on school size.

In [83]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [93]:
# Create a new column for the bin groups
school_data_complete['size_bins'] = pd.cut(school_data_complete['size'], size_bins, labels = group_names)
size = school_data_complete.groupby('size_bins')

In [94]:
#math_pass_size
passingmath_size = school_data_complete[school_data_complete['math_score'] >= 70].groupby('size_bins')['Student ID'].count()/size['Student ID'].count()
passingmath_size

size_bins
Small (<1000)         0.939525
Medium (1000-2000)    0.936165
Large (2000-5000)     0.686524
Name: Student ID, dtype: float64

Look for the total count of test scores that pass 70% or higher

In [95]:
# read_pass_size
read_pass_size = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('size_bins')['Student ID'].count()/by_size['Student ID'].count()
read_pass_size

size_bins
Small (<1000)         0.960403
Medium (1000-2000)    0.967731
Large (2000-5000)     0.821252
Name: Student ID, dtype: float64

In [102]:
# Calculate the overall passing rate for different school size
overall_size = school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)].groupby('size_bins')['Student ID'].count()*100
overall_size

size_bins
Small (<1000)          125200
Medium (1000-2000)     772300
Large (2000-5000)     1655300
Name: Student ID, dtype: int64

### Scores by School Type

* Perform the same operations as above, based on school type.

In [103]:
# Create bins and groups, school type {'Charter', 'District'}
school_type = school_data_complete.groupby("type")
school_type

Find counts of the passing 70 or higher score for the both test

In [104]:
# math pass size
pass_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('type')['Student ID'].count()/school_type['Student ID'].count()
pass_math

type
Charter     0.937018
District    0.665184
Name: Student ID, dtype: float64

In [105]:
# reading pass size
pass_reading = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('type')['Student ID'].count()/school_type['Student ID'].count()
pass_reading

type
Charter     0.966459
District    0.809052
Name: Student ID, dtype: float64

In [106]:
# Calculate the overall passing rate
overall = school_data_complete[(school_data_complete['reading_score'] >= 70) + (school_data_complete['math_score'] >= 70)].groupby('type')['Student ID'].count()*100
overall

type
Charter     1216800
District    2528400
Name: Student ID, dtype: int64

In [109]:
#dataframe 
scores_school_type = pd.DataFrame({
    'Total Passing Math': pass_math,
    'Total Passing Reading': pass_reading,
    "% Overall Passing": overall})
scores_school_type

          Total Passing Math  Total Passing Reading  % Overall Passing
type
Charter             0.937018               0.966459            1216800
District            0.665184               0.809052            2528400